# dependencias
**/node_modules
**/npm-debug.log

# entorno
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# compilados
**/dist/
**/build/

# archivos del sistema
.DS_Store
**/.vscode
**/*.log

# archivos de circuitos compilados
circuits/*.r1cs
circuits/*.wasm
circuits/*.sym
circuits/*.zkey
circuits/verification_key.json

# archivos de desarrollo de Vite
**/*.local